{% extends "myadmin/base.html" %}
{%block mainbody%}	
	<h3>
		会员信息管理
	</h3>
	<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_usersinsert' %}" method="post">
	{% csrf_token %}
		<fieldset>
			<legend>添加会员信息</legend>
			<div class="control-group">
				<label class="control-label" for="input01">账号 :</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="username" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">姓名 :</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="name" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">密码 :</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="input01" name="password" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">再次输入密码 :</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="input01" name="password1" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="input01">性别 :</label>
				<div class="controls">
					<label class="radio-inline">
					  <input type="radio" name="sex" id="inlineRadio1"  value="0"> 男
					  <input type="radio" name="sex" id="inlineRadio2"  value="1"> 女
					</label>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="input01">邮编 :</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="code" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">邮箱 :</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="email"  />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">电话 :</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="phone" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="textarea">家庭住址 :</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" name="address" rows="4"></textarea>
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="input01">状态：</label>
                <div class="controls">
                    <input type="radio" name="state" class="input-xlarge" id="input01" value="0" /> 管理员 &nbsp;
                    <input type="radio" name="state" class="input-xlarge" id="input01" value="1" /> 启用会员&nbsp;
                    <input type="radio" name="state" class="input-xlarge" id="input01" value="2" /> 禁用用户
                </div>
            </div> 						
			<div class="form-actions">
				<button type="submit" class="btn">添加</button>
				<button type="reset" class="btn">重置</button>
				<span class="shuom" style="color:red;margin-left:10px"> </span>

			</div>
		</fieldset>
	</form>
{%endblock%}
{%block mainwei%}
<script>
	$('input[name=password1]').blur(function(){
		var a =$(this).val();
		var b =$('input[name=password]').val();
		if(a == b){
			passok=true;
		}else{
			passok=false;
		}

	})
	$('input[name=email]').blur(function(){
		var v=$(this).val();
		var reg=/^\w+@\w{2,5}\.(com|cn)$/;
		var res=reg.test(v);
		if(!res){
			$('.shuom').html('注意: 邮箱格式不正确')
		}
	})
	
	$('form').submit(function(){
		$('input').trigger('blur');
		if(passok){
			return true;
		}
		$('.shuom').html('注意: 密码输入不一致')
		return false;
		
		})
</script>
{%endblock%}